@import '../../theme/';

.a-button {
    border: 1px solid $c-print-3;
    border-radius: 3px;
    background-color: $c-print-8;
    cursor: pointer;
    font-size: 15px;
    padding: 3px 10px;
    color: $c-print-3;
    // a reset
    text-decoration: none;

    &.is-alt {
      background-color:$c-main-2;
    }
}